dev/Cats Tale/.vsconfig
*.sln
*.csproj
*.suo
dev/Cats Tale/Library/
dev/Cats Tale/Logs/
dev/Cats Tale/Packages/
dev/Cats Tale/obj/
dev/Cats Tale/Temp/UnityLockfile
dev/Cats Tale/Temp/
dev/Cats Tale/Assets/TextMesh Pro/
